.neonButtons button {
    width: 100%;
    height: 60px;
    border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #5d5f8f, #9c1f8a);
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 26px;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
}

.neonButtons button:hover {
    transform: scale(1.05);
}

.neonButtons .shadow {
    margin: 15px auto;
    transform-style: preserve-3d;
    display: block;
    position: relative;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.neonButtons .shadow::before {
    content: "";
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
    inset: -5px;
    transform: translate3d(10px, 10px, -1px);
    /* (X, Y, Z) */
    background: linear-gradient(to left, #5d5f8f, #9c1f8a);
    filter: blur(20px);
    border-radius: 10px;
}

.neonSlider {
    -webkit-appearance: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    width: 100%;
    height: 20px;
    border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #5d5f8f, #9c1f8a);
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 26px;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

.neonSlider:hover {
    opacity: 1;
}

.neonSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: linear-gradient(to left, #7779c1, #da2dc0);
    border-radius: 5px;
    cursor: pointer;
}

.neonSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

@-moz-document url-prefix() {
    .neonButtons button:hover {
        transform: none;
    }
}


.bubbleSlider {
    -webkit-appearance: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    width: 100%;
    height: 20px;
    border: 6px solid;
    border-image-slice: 1;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 26px;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
}

.bubbleSlider:hover {
    opacity: 1;
}

.bubbleSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: linear-gradient(to left, #b4b4b4, #434343);
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100%;
}

.bubbleSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #5a5a5a;
    cursor: pointer;
}

.bubbleButtons .shadow {
    max-width: 350px;
    margin:auto;
}
.bubbleButtons button {
    cursor:pointer;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 5px solid rgba(80, 80, 80, 1);
    padding: 5px 20px;
    margin: 15px auto;
    min-width: 100px;
    width: 100%;
    transition: all ease .2s;
}
.bubbleButtons button:hover {
    background-color: rgba(255, 255, 255, 1);
}